

<form action="/oauth/connect">
  <button type="submit" value="connect to Instagram">Connect to Instagram</button>
</form>

<form action="/login">
<input type="text" name="username" placeholder="username"/></br></br>
<input type="password" name="password" placeholder="password"/>
<button>Log in</button>
</form>

<form action="/register">
<input type="text" name="username" placeholder="username"/></br></br>
<input type="password" name="password" placeholder="password"/>
<button>Register</button>
</form>
