<div class="wrapper">
  <div class="logo_image animated bounceInLeft">
    <img src="/bullseye.png" class="bullseye" />
  </div>
  <h1 class="cover_text animated fadeIn">Mynsta</h1>

  <a href="/cover" class="enter animated fadeIn">Enter</a>
</div>
<script>
var $win = $(window),
    w = 0,h = 0,
    rgb = [],
    getWidth = function() {
        w = $win.width();
        h = $win.height();
    };

$win.resize(getWidth).mousemove(function(e) {

    rgb = [
        Math.round(e.pageX/w * 255),
        Math.round(e.pageY/h * 255),
        150
    ];

    $(document.body).css('background','rgb('+rgb.join(',')+')');

}).resize();

  </script>
