<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Anton|Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
<header>
<nav class="navbar">
<img src="/broth-icon.png" id="logo" /><h1 class="logo_text">Instapes</h1>
</nav>


</header>
<% if logged_in? %>
  <form action="" method="post">
    <input type="hidden" name="_method" value="delete" />
    <button>Log Out</button>
  </form>
<% end %>

  <%= yield %>

</body>
</html>
