<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Anton|Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="/CSS/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>

    <% unless request.path_info == "/" %>
      <header>
    <nav class="navbar">
            <a class="navbar-brand" href="/">
              <img src="/bullseye.png" id="logo" />
              <h1 class="logo_text">Mynsta</h1>
            </a>
      <% if logged_in? %>
            <form action="/index" method="post" class="logout_button">
              <input type="hidden" name="_method" value="delete" />
              <button>Log Out</button>
            </form>
            <a href="/search_bar" class="search_link">Search</a>
      <% end %>
    </nav>
  </header>
    <% end %>
  <%= yield %>
  <footer>
    <a href="http://www.jaimegunther.com" target="_blank">
      <p class="copyrt">&copy jaimegunther.com 2016</p>
    </a>
  </footer>

</body>
</html>
