<div class="container just_search">
  <div class="row just_search_engine">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 search_bar">
      <form action="/search_bar" method="post">
        <label for="search" class="your_search_text">Your Customised Search</label>
        <input type="text" name="q" class="form-control" id="search" /></br>
        <button>Search</button>
      </form>
    </div>
  </div>
</div>
