html, body {
  height: 100%
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #e9092d;
  color: #000000;
}
.navbar-brand {
  margin-top: -10px;
}
#logo {
  height: 50px;
  width: auto;
  margin:-30px 0 0 0;
  padding:0 0 0 20px;
  display: inline-block;
}
.logo_text{
  font-family: 'Anton', sans-serif;
  font-size: 25px;
  display:inline-block;
  color:#000000;
}

.container_navbar {
  margin:0;
}
.navbar {
  background-color: #ffffff;
  height: 58px;
}

.navbar-form {
  position: relative;
  z-index: 1;
}
.navbar-btn {
  padding:0 5px;
  display: inline-block;
}
.jumbotron {
  margin-top: 130px;
  height: 400px;
  background-image: url("/magnifying_glass.jpg");
  background-position: 50% 70%;
  background-size: cover;
  color: #ffffff;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}

#welcome_header {
  font-size: 80px;
  padding: 15px 0;
}
#welcome_text {
  font-size: 30px;
}

.login_container, .register_container {
  margin-top: 150px;
}

.register_greeting, .sign_in_greeting, .register_text {
  color:#ffffff;
  text-align: center;
}

.register_greeting {
  font-size: 30px;
}
.register_text {
  font-size: 15px;
}

.create_acc_text {
  color:#ffffff;
  font-size: 20px;
}

.sign_in_greeting {
  font-size: 25px;
}

.login, .register{
  background-color: #ffffff;
  width: auto;
  height: auto;
  padding: 50px 60px;
}

.need_to_register {
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
}

ul{
  list-style-type: none;
}

#insta_connection {
  text-decoration: none;
}

.login_error, .register_error {
  color: red;
}

footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: none;
}

.copyrt {
  margin-top: 90px;
  color:#000000;
  font-size: 13px;
  padding-left: 20px;
}

.your_search_text {
  font-size: 20px;
  color: #000000;
  font-weight:bold;
}
.search_bar {
  background-position: center;
  background-size: cover;
  height:1500px;
  padding-top:50px;
}
.just_search_engine {
  margin-top: 150px;
}
.result_links{
  padding-left:50px;
  padding-top: 50px;
}

.result {
  padding: 10px 0;
  font-size: 15px;
}

.search_box {
  margin-top: 150px;
  margin-left: 100px;
  background-color: #f3f3f5;
}

.oops_search_eyes {
  margin: 150px auto;
  width:300px;
  text-align: center;
}
.oops_search_eyes p {
  font-size: 30px;
}

button {
  border-radius: 5px;
  padding: 5px 10px;
  width: 85px;
  margin: 10px 5px;
  border: 2px solid #000000;
  color:#000000;
  background-color: #ffffff;
}

.create_account_btn {
  width:150px;
}

.search_link{
  font-size: 18px;
  color: #000000;
  float: right;
  margin-right:20px;
  padding-top: 25px;
}

.search_link:hover {
  text-decoration: none;
  color: #fd4eb3;
}

.logout_button {
  float: right;
  padding:8px 10px 0 0;
}

button:hover {
  border: 1px solid #000000;
  color:#ffffff;
  background-color: #000000;
}

.search_button {
  margin-right: 130px;
  border-radius: 5px;
  border: 1px solid #000000;
  color:#ffffff;
  padding: 5px 10px;
  background-color: #000000;
  width: 85px;
}
.navbar-form {
  margin-top: 10px;
}

.wrapper {
  color:#000000;
  min-height: 100%;
  margin-bottom: -150px;
}

.logo_image {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s; /* Safari 4.0 - 8.0 */
  animation-delay: 1s;
}

.bullseye {
  height:180px;
  width: auto;
  margin-top:150px;
  margin-left:600px;
}

.cover_text {
  margin-left:595px;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s; /* Safari 4.0 - 8.0 */
  animation-delay: 1.5s;
  text-transform: uppercase;
}

.enter {
  font-size: 15px;
  text-transform: uppercase;
  margin-left: 645px;
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s; /* Safari 4.0 - 8.0 */
  animation-delay: 1.6s;
  color:#000000;
}

.enter:hover {
  color: #ffffff;
  text-decoration: none;
}


.select_blogs {
  padding-left: 30px;
}

.select_blog {
  padding-bottom:10px;
}

/* sticky footer */
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -120px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 120px;
}
.submit_btn {
  border-radius: 5px;
  padding: 5px 10px;
  width: 85px;
  margin: 10px 5px 10px 20px;
  border: 2px solid #000000;
  color:#000000;
  background-color: #ffffff;
}
.submit_btn:hover {
border: 1px solid #000000;
color:#ffffff;
background-color: #000000;
}

.blogs_you_follow {
  font-size: 25px;
  margin-left:20px;
  margin-top: 200px;
  padding-bottom: 10px;
}
